/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/pwm/pwm.h>

/{

	all_pwms
	{
		compatible = "pwm-leds";

		fan
		{
			pwms = <&ledc0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};

		piezo_piezo: piezo_piezo
		{
			pwms = <&ledc0 1 PWM_NSEC(588) PWM_POLARITY_NORMAL>;
		};

		piezo0led_red{
			pwms = <&ledc0 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		piezo0led_green{
			pwms = <&ledc0 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		piezo0led_blue{
			pwms = <&ledc0 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};

		piezo1led_red{
			pwms = <&ledc0 5 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		piezo1led_green{
			pwms = <&ledc0 6 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		piezo1led_blue{
			pwms = <&ledc0 7 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};

		piezo2led_red{
			pwms = <&ledc0 8 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		piezo2led_green{
			pwms = <&ledc0 9 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		piezo2led_blue{
			pwms = <&ledc0 10 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};

	piezo_selector
	{
		compatible = "power-switch";
		gpios = <&gpio0 22 GPIO_ACTIVE_LOW>,
			<&gpio0 23 GPIO_ACTIVE_LOW>,
			<&gpio0 21 GPIO_ACTIVE_LOW>;
	};

	buttons
	{
		compatible = "gpio-keys";
		button0: button_0
		{
			//gpi (input only) pin 36
			gpios = <&gpio1 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_BTN_0>;
		};
		button1: button_1
		{
			//gpi (input only) pin 39
			gpios = <&gpio1 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_BTN_1>;
		};
		button2: button_2
		{
			//gpi (input only) pin 34
			gpios = <&gpio1 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_BTN_2>;
		};
	};

	zephyr,user
	{
		io-channels = <&adc0 0>;
	};

};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

	// cdc_ncm_eth0: cdc_ncm_eth0 {
	// 	compatible = "zephyr,cdc-ncm-ethernet";
	// 	remote-mac-address = "00005E005301";
	// };

&pinctrl {
        ledc0_default: ledc0_default {
                group1 {
                        pinmux = <LEDC_CH0_GPIO18>,
				 <LEDC_CH1_GPIO19>,
				 <LEDC_CH2_GPIO25>,
				 <LEDC_CH3_GPIO32>,
				 <LEDC_CH4_GPIO33>,
				 <LEDC_CH5_GPIO2>,
				 <LEDC_CH6_GPIO26>,
				 <LEDC_CH7_GPIO27>,
				 <LEDC_CH8_GPIO5>,
				 <LEDC_CH9_GPIO16>,
				 <LEDC_CH10_GPIO17>;
                        output-enable;
                };
        };
};

&ledc0 {
        pinctrl-0 = <&ledc0_default>;
        pinctrl-names = "default";
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;

        channel0@0 {
                reg = <0x0>;
                timer = <0>;
        };
        channel1@1 {
                reg = <0x1>;
                timer = <1>;
        };
        channel2@2 {
                reg = <0x2>;
                timer = <0>;
        };
        channel3@3 {
                reg = <0x3>;
                timer = <0>;
        };
        channel4@4 {
                reg = <0x4>;
                timer = <0>;
        };
        channel5@5 {
                reg = <0x5>;
                timer = <0>;
        };
        channel6@6 {
                reg = <0x6>;
                timer = <0>;
        };
        channel7@7 {
                reg = <0x7>;
                timer = <0>;
        };
        channel8@8 {
                reg = <0x8>;
                timer = <0>;
        };
        channel9@9 {
                reg = <0x9>;
                timer = <0>;
        };
        channel10@a {
                reg = <0xa>;
                timer = <0>;
        };
        channel11@b {
                reg = <0xb>;
                timer = <0>;
        };
};
