/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	cdc_ncm_eth0: cdc_ncm_eth0 {
		compatible = "zephyr,cdc-ncm-ethernet";
		remote-mac-address = "00005E005301";
	};

	pwmleds
	{
		pwm_led1 {
			pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
		pwm_led2 {
			pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
		pwm_led3 {
			pwms = <&pwm0 3 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
	};
	zephyr,user
	{
		io-channels = <&adc 0>;
	};
	piezo_selector
	{
		compatible = "power-switch";
		gpios = <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			<&gpio1 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			<&gpio1 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};

&pwm0_default
{
	group1{
		psels = <NRF_PSEL(PWM_OUT0, 0, 13)>,
			<NRF_PSEL(PWM_OUT1, 0, 14)>,
			<NRF_PSEL(PWM_OUT2, 0, 15)>,
			<NRF_PSEL(PWM_OUT3, 0, 16)>;
	};
};

&button0
{
	/* button0 is used for humidifier, so we need to set the code to match the one in humidifier.cpp */
	zephyr,code = < INPUT_BTN_0 >; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:72 */
};
&button1
{
	/* button1 is used for humidifier, so we need to set the code to match the one in humidifier.cpp */
	zephyr,code = < INPUT_BTN_1 >; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:72 */
};

&button2
{
	/* button2 is used for humidifier, so we need to set the code to match the one in humidifier.cpp */
	zephyr,code = < INPUT_BTN_2 >; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:72 */
};


&adc {
	#address-cells = <1>;
	#size-cells = <0>;

        channel@0 {
                reg = <0>;
                zephyr,gain = "ADC_GAIN_1_6";
                zephyr,reference = "ADC_REF_INTERNAL";
                zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
                zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.03 */
                zephyr,resolution = <12>;
        };

};
