/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	cdc_ncm_eth0: cdc_ncm_eth0 {
		compatible = "zephyr,cdc-ncm-ethernet";
		remote-mac-address = "00005E005301";
	};

	pwmleds
	{
		pwm_led1 {
			pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
		pwm_led2 {
			pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
		pwm_led3 {
			pwms = <&pwm0 3 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
	};
	// 	humidifier_buttons: buttons {
	// 	compatible = "gpio-keys"; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:61 */

	// 	/* node '/buttons/button_0' defined in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:63 */
	// 	button0: button_0 {
	// 		gpios = < &gpio0 0xb 0x11 >;    /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:64 */
	// 		label = "Push button switch 0"; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:65 */
	// 		zephyr,code = < 0xb >;          /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:66 */
	// 	};

	// 	/* node '/buttons/button_1' defined in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:69 */
	// 	button1: button_1 {
	// 		gpios = < &gpio0 0xc 0x11 >;    /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:70 */
	// 		label = "Push button switch 1"; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:71 */
	// 		zephyr,code = < 0x2 >;          /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:72 */
	// 	};

	// 	/* node '/buttons/button_2' defined in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:75 */
	// 	button2: button_2 {
	// 		gpios = < &gpio0 0x18 0x11 >;   /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:76 */
	// 		label = "Push button switch 2"; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:77 */
	// 		zephyr,code = < 0x3 >;          /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:78 */
	// 	};

	// 	/* node '/buttons/button_3' defined in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:81 */
	// 	button3: button_3 {
	// 		gpios = < &gpio0 0x19 0x11 >;   /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:82 */
	// 		label = "Push button switch 3"; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:83 */
	// 		zephyr,code = < 0x4 >;          /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:84 */
	// 	};
	// };
};

&pwm0_default
{
	group1{
		psels = <NRF_PSEL(PWM_OUT0, 0, 13)>,
			<NRF_PSEL(PWM_OUT1, 0, 14)>,
			<NRF_PSEL(PWM_OUT2, 0, 15)>,
			<NRF_PSEL(PWM_OUT3, 0, 16)>;
	};
};

&button0
{
	/* button0 is used for humidifier, so we need to set the code to match the one in humidifier.cpp */
	zephyr,code = < INPUT_BTN_0 >; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:72 */
};
&button1
{
	/* button1 is used for humidifier, so we need to set the code to match the one in humidifier.cpp */
	zephyr,code = < INPUT_BTN_1 >; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:72 */
};

&button2
{
	/* button2 is used for humidifier, so we need to set the code to match the one in humidifier.cpp */
	zephyr,code = < INPUT_BTN_2 >; /* in zephyr/boards/nordic/nrf52840dk/nrf52840dk_nrf52840.dts:72 */
};

